@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

main {
  flex-grow: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  main, #root {
    --tw-bg-opacity: 1;
    background-color: rgb(3 7 18 / var(--tw-bg-opacity));
  }
}